h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h4 {
  font-size: 1.15em;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Georgia;
  line-height: 1.3em;
}

pre.sh_sourceCode {
  line-height: 22px;
}
  
code {
  font-size: 0.4em;
}

#footer {
  background: transparent;
  color: #AAA;
}

#background {
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0; 
  top: 0; 
  opacity: 0.6;
  z-index: -1
}

.stretch {
  width: 100%;
  height: 100%;
}

.slide {
  z-index: 1;
}

#preso div.code {
  position: relative;
  top: -28px;
}

#preso div.code pre {
  padding-top: 0;
  margin-top: 0;
}

.main .content > ul > li > ul > li { 
  padding: 8px;
}

.content > ul,
.content > ol {
  font-size: 2em ;
}

#logo {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

#preso {
  margin-top: 40px;
}

.bullets li {
  margin-left: 0 !important;
}

/*#slide-5,
#slide-6 {
  margin-top: -50px;
}*/

#slide-13 .content > ul > li > ul > li {
  left: 300px;
  position: relative;
}

.sh_javascript span.sh_string {
  color: #000 !important;
