h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h4 {
  font-size: 1.15em;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Georgia;
  line-height: 1.3em;
}

#footer {
  background: #FFF;
  color: #CCC;
}

.content > ul {
  font-size: 2em ;
}

#logo {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

#preso {
  margin-top: 40px;
}

.bullets li {
  margin-left: 0 !important;
}

#slide-5,
#slide-6 {
  margin-top: -50px;
}